:root {
   /* ========================== Colors ========================== */
   --alpha-text-c: #02000a;
   --beta-text-c: #001966;
   --gamma-text-c: #fffefe;

   --effect-1-c: #ffd600;
   --effect-2-c: #dee3f3;
   --effect-3-c: #a3afd1;
   --effect-4-c: #374b88;

   --danger-c: #b70000;

   /* ========================== Transition ========================== */
   --hover-transit: 0.3s;
}

body {
   color: var(--alpha-text-c);
   background-color: var(--gamma-text-c);
   font-size: calc(min(1rem + 2 * ((100vw - 320px) / (1280 - 320)), 1.125rem));
   font-weight: 300;
   line-height: 1.5;

   display: flex;
   flex-direction: column;
}
body::-webkit-scrollbar {
   width: 0;
}

.main {
   flex: 1 1 auto;
   margin-top: 3.75rem;
}

[class*='Container'] {
   margin: 0 auto;
   max-width: 1320px;
   padding: 0 1.25rem;
}
