.aside {
	background-color: var(--aside-background-c);
	max-width: 25rem;
	width: 100%;
	flex: 1 1 25rem;
	border-bottom-right-radius: 0.3125rem;
	border-bottom-left-radius: 0.3125rem;
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	padding: 1.25rem 0;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow-y: auto;

	transition: max-width var(--transit);
}

@media (max-width: 835px) {
	.aside {
		max-width: 3rem;
		min-width: 3rem;
	}
	.chatName {
		max-height: 3rem;
	}
}
