.infoList {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.infoList li {
	display: flex;
	align-items: center;
	gap: 20px;
}
.infoList li::before {
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	background-image: url('../../../public/images/what-is-our-chat/item-icon.svg');
}
