.active {
  margin-left: 40px;
  font-weight: 600;
  font-style: 16px;
  line-height: 24px;
  color: var(--effect-1-c);
}
.link {
  margin-left: 40px;
  font-weight: 600;
  font-style: 16px;
  line-height: 24px;
  color: var(--alpha-text-c);
}
