.navWrapper{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.active {
  margin-left: 40px;
  font-weight: 600;
  font-style: 16px;
  line-height: 24px;
  color: var(--effect-1-c);
}
.link {
  margin-left: 40px;
  font-weight: 600;
  font-style: 16px;
  line-height: 24px;
  color: var(--alpha-text-c);
}

@media (max-width: 840px) {
	.navWrapper{
    width: 840px;
    display: flex;
    justify-content:flex-end
  }
}