
 .socialTitle{
	margin-right: 20px;
	color: var(--gamma-text-c);
	margin-left: 210px;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
 }
 .socialList{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-left: 250px;
 }

 @media (max-width: 840px) {
	.navWrapper{
    width: 840px;
    display: flex;
    justify-content:flex-end
  }
  .main{
	 width: 540px;
	 display: flex;
	 justify-content:flex-end
  }
}
 
 
 