.wrapperButtons {
	display: flex;
	gap: calc(min(0.5rem + 8 * ((100vw - 320px) / (1320 - 320)), 1rem));
}
.button {
	--sizes: calc(min(2rem + 16 * ((100vw - 320px) / (1320 - 320)), 2.5rem));
	width: var(--sizes);
	height: var(--sizes);
	cursor: pointer;
}
.button:hover {
	opacity: 0.5;
}

.exitButton {
	--exit-fill-c: transparent;
	--stroke-c: #001966;
	transition: all var(--hover-transit);
}
