/* .main {
   width: 100vw;
   height: 500px;
   margin: auto;
} */
.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100vw;
   background-color: #374b88;
}
