.userName {
	font-size: 1rem;
	line-height: 1.62;
	font-weight: 500;
	color: var(--heading-c);
	max-width: max-content;
	display: flex;
	align-items: flex-end;
	gap: 0.3125rem;
}

.deleted {
	font-size: 0.8125rem;
	color: var(--input-passive-c);
	font-weight: 300;
}
