.main {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 8px  20px;
   width: 100vw;
   height: 56px;
   background-color: var(--effect-4-c);
}

.infoBlockImage {
   max-width: 130px;
   max-height: 28px;
}

.firstBloc {
   display: flex;
   width: 250px;
   flex-direction: row-reverse;
   justify-content: space-around;
   align-items: center;
}

.secondBlock {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

@media (min-width: 430px) {
   .main {
    padding: 10px  30px;
   }

   .firstBloc {
    flex-direction: row;
 }
}

/* @media (min-width: 1280px) {
  .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    padding: 30px 40px;
    width: 100vw;
    height: 60px;
    background-color: var(--effect-4-c);
  
  }
  .infoBlockImage{
    width: 130px;
    height: 28px;
  }
} */
