.header {
   width: 100%;
   height: 3.75rem;
   display: flex;
   align-items: center;
   background-color: var(--effect-4-c);
   position: fixed;
   z-index: 10;
}
.headerContainer {
   flex: 1 1 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.navWrapper {
   display: flex;
   align-items: center;
   gap: calc(min(1.5rem + 32 * ((100vw - 840px) / (1320 - 840)), 3.5rem));
}
.secondBlockWrapper {
   display: flex;
   align-items: center;
   gap: calc(min(1.5rem + 32 * ((100vw - 840px) / (1320 - 840)), 3.5rem));
}
.logo {
   width: 8.125rem;
}















/* .loginBtn {
   display: none;
}
.burgerMenu {
   display: block;
}

.infoBlockImage {
   width: 130px;
   height: 28px;
   margin-left: 60px;
}

.firstBloc {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
}

.secondBlock {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media (min-width: 840px) {
   .main {
      display: flex;
      flex-direction: row;
      padding: 15px 50px;
      height: 70px;
      justify-content: space-around;
   }
   .infoBlockImage {
      width: 230px;
      height: 48px;
   }

   .loginBtn {
      display: block;
   }
   .burgerMenu {
      display: none;
   }
   .navHederWrapper {
      display: none;
   }

   .firstBloc {
      flex-direction: row;
   }
   .secondBlock {
      flex-direction: row-reverse;
      min-width: 230px;
   }
} */

/* @media (min-width: 1280px) {
  .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    padding: 30px 40px;
    width: 100vw;
    height: 60px;
    background-color: var(--effect-4-c);
  
  }
  .infoBlockImage{
    width: 130px;
    height: 28px;
  }
} */
