.main {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 40px 20px;
   width: 100vw;
   height: 260px;
   background-color: var(--effect-4-c);
}

.firstBloc {
   display: grid;
   justify-content: space-around;
}

.infoBlockImage {
   max-width: 130px;
   max-height: 28px;
}

.secondBlock {
   margin-top: auto;
   margin-bottom: 40px;
   width: auto;
}

@media (min-width: 840px) {
   .main {
      height: 128px;
      padding: 24px 80px;
      flex-direction: row;
      justify-content: space-between;
   }
   .infoBlockImage {
      max-width: 218px;
      max-height: 55px;
   }
   .secondBlock {
      display: flex;
      flex-direction: row;
   }
   .secondBlock li {
      background-color: aqua;
   }

   .firstBloc {
      display: flex;
      flex-direction: row;
   }
}

/* @media (max-width: 420px) {
 .main{
   flex-direction: row-reverse;
 }
 .infoBlockImage{
   width: 130px;
   height: 28px;
 }
} */
