.wrapper {
	display: flex;
	gap: 1rem;
}

.user {
	cursor: pointer;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
.button {
	width: 2.5rem;
	height: 2.5rem;
}

.exitButton {
	--exit-fill-c: transparent;
	--stroke-c: white;
	cursor: pointer;
	transition: all var(--hover-transit);
}
.exitButton:hover {
	transform: scale(1.05);
}
.exitButton:active {
	--stroke-c: #ffd600;
}
