.popup {
   max-width: 35rem;
   width: 100%;
   background-color: var(--effect-2-c);
   padding: calc(min(1.25rem + 20 * ((100vw - 320px) / (1320 - 320)), 2.5rem));
   display: flex;
   justify-content: center;
   align-items: center;
   transform: scale(0.2);
   opacity: 0;
   visibility: hidden;
   transition: all 0.25s;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   border-radius: 1.875rem;
}
.popup[open] {
   visibility: visible;
   transform: scale(1);
   opacity: 1;
}
.popup::backdrop {
   background-color: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(0.1rem);
   transition: all 1.25s;
}

.popupContent {
   max-width: 25rem;
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: calc(min(1.5625rem + 23 * ((100vw - 320px) / (1320 - 320)), 3rem));
}

.popupForm {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.emojiesWrapper {
   align-self: center;
   display: flex;
   gap: calc(min(0.625rem + 14 * ((100vw - 320px) / (1320 - 320)), 1.5rem));
   height: 2.5rem;
}
.emoji {
   cursor: pointer;
   transition: transform var(--hover-transit);
}
.emoji:hover .emojiImg {
   color: #40b700;
}
.emoji:has(.emojiInput:checked) {
   transform: scale(1.2);
}
.emoji:has(.emojiInput:checked) .emojiImg {
   color: #40b700;
}
.emojiInput {
   position: absolute;
   appearance: none;
}

.wrapperButtons {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 1.25rem;
}

.cancelButton2 {
   background-color: transparent;
   position: absolute;
   top: 0.875rem;
   right: 0.9375rem;
   border: none;
   padding: 0;
   cursor: pointer;
   width: 1.25rem;
   height: 1.25rem;
}
.cancelButton2::before,
.cancelButton2::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(45deg);
   background-color: var(--beta-text-c);
}

.cancelButton2::before {
   width: 0.08rem;
   height: 0.9375rem;
}

.cancelButton2::after {
   width: 0.9375rem;
   height: 0.08rem;
}

@media (max-width: 600px) {
   .popup {
      width: calc(min(17.5rem + 300 * ((100vw - 320px) / (600 - 320)), 36.25rem));
   }
   .popupTitle {
      max-width: 15.625rem;
      text-align: center;
   }
   .wrapperButtons {
      justify-content: center;
   }
   .cancelButton {
      display: none;
   }
}
